@{
    ViewBag.Title = "Error Found";
}


@if (ViewBag.ErrorTitle == null)
{
    <div class="row mt-5 mb-5">
        <div class="col-12">
            <h5 class="text-center text-danger">
                An error has occurred while processing your request.
                Contact the administration : martinwebsitemail@gmail.com
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="alert alert-danger">
                <h5>Exception Path</h5>
                <hr />
                <p>@ViewBag.ExceptionPath</p>
            </div>
        </div>
        @*<div class="alert alert-danger">
            <h5>Exception Message</h5>
            <hr />
            <p>@ViewBag.ExceptionMessage</p>
        </div>*@

    </div>
}
else
{

    <div class="alert alert-danger">
        <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
        <p class="text-danger">@ViewBag.ErrorMessage</p>
    </div>

}
