@if (ViewBag.ErrorTitle == null)
{
    //Generic error message
    <h3>
        An error has occurred while processing your request.
        Contact the administration : martinwebsitemail@gmail.com

        <h3>Exception Details:</h3>
        <div class="alert alert-danger">
            <h5>Exception Path</h5>
            <hr />
            <p>@ViewBag.ExceptionPath</p>
        </div>

        <div class="alert alert-danger">
            <h5>Exception Message</h5>
            <hr />
            <p>@ViewBag.ExceptionMessage</p>
        </div>
    </h3>
}
else
{

    <div class="alert alert-danger">
        <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
        <p class="text-danger">@ViewBag.ErrorMessage</p>
    </div>

}
