<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>Your E-mail has been confirmed!</h3>
    </div>

    <div class=" col-12 text-center">
        Please <a asp-controller="Account" asp-action="Login">login</a> to complete your registration.
    </div>
</div>