@{
    ViewBag.Title = "Registration successful";
}

    <div class="row mt-5">
        <div class="col text-center">
            <h1 class="text-center">
                Confirmation link has been sent to the email provided. Please follow the link in the E-mail to complete the registration!
            </h1>
        </div>
    </div>