@{
    ViewBag.Title = "Registration successful";
}

    <div class="row">
        <div class="col text-center">
            <h1 class="text-center">
                Confirmation link has been sent to the email provided. Please follow the link in the mail to complete the registration
            </h1>
        </div>
    </div>