@{
    ViewBag.Title = "Reset password Confirm";
}

<div class="row">
    <div class="col-12 text-center mb-5">
        <h3>
            Your password is reset. <a asp-action="Login">Login</a>
        </h3>
    </div>

    <div class="col-12 text-center">
        <a class="btn btn-info" asp-action="Login">Login</a>
    </div>

</div>