@model UserSearchViewModel

<div class="card-deck">

    @*<form class="form-inline mt-2 mt-md-0" asp-controller="home" asp-action="index" method="post">

            <input class="form-control mr-sm-2" type="text" placeholder="Search"
                   asp-for="UserNameSearch">


            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>*@



    <form class="form-inline mt-2 mt-md-0" asp-controller="Home" asp-action="Index" method="get">

        <input class="form-control mr-sm-2" type="text" placeholder="Search"
               asp-for="SearchString">

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    @if (Model.UsersResult != null)
    {
        <ul>
            @foreach (var User in Model.UsersResult)
            {
                <li>
                    <a asp-controller="Home" asp-action="UserResume" asp-route-id="@User.Id">@User.UserName</a>
                </li>
            }
        </ul>
    }

</div>
