
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h1> Privacy policy</h1>
        </div>

        <div class="col-12">
            By clicking accept on the alert bar on top or registering on this site, you give me ownership of the information data provided by you.
        </div>

        <div class="col-12 mt-5">
            The only information this page collects is the one you provide to it.

        </div>

        <div class="col-12">
            This web application is purely for showcase purposes, and some basic information is need to see the full capabilities. I do not intend to store information for longer periods so use at own risk.
        </div>
        <div class=" col-12 mt-3">
            If you are a registered user you can delete your information data <a asp-controller="Account" asp-action="DeleteAccountConfirmation">here</a>
            or by going to Manage Account at the navigation bar on top.
        </div>
    </div>