@model UserResumeViewModel
@{
    ViewBag.Title = "User Resume";
}

<div>
    <h1>User Info</h1>
    @*<h4>@Model.UserInfo.UserName</h4>*@
    <h5>@Model.UserInfo.Summary</h5>

    @if (Model.EnableOwnerOptions)
    {
        <a asp-action="EditUserInfo" asp-controller="Home">Edit Personal Information</a>
    }
</div>

<div>
    <h1>Item list</h1>

    @if (Model.EnableOwnerOptions)
    {
        <a>Add new Item</a>
    }

    @if (@Model.Achievements != null)
    {
        @foreach (var Achievement in @Model.Achievements)
        {
            <div>
                <h1>Item Info</h1>
                @if (Model.EnableOwnerOptions)
                {
                    <a>Edit</a>
                }
            </div>

        }
    }
    else
    {
        <h3>No items has been added to this resume</h3>
        @if (Model.EnableOwnerOptions)
        {
            <a asp-action="EditUserItems" asp-controller="Home">Create New Items</a>
        }
    }


</div>

