@model List<Skill>

@if (Model.Any())
{
    for (int i = 0; i < Model.Count; i++)
    {
        Model[i].Index = i;
        <div id="skill_@i" class="skill bg-info m-2">
            @await Component.InvokeAsync("SkillEditDisplay", new { skill = Model[i] })
        </div>
    }
    <div class="text-danger" asp-validation-summary="All"></div>
}
else
{
    <div> You have not created any skills</div>
}