body {
    background-color: rgb(15, 18, 33);
    color:cornsilk;
   
}


label, h1 {
    color: rgb(165, 148, 255);
}

#homePageLogoContainer {
    height: 10em;
    width: auto;
}

#searchBar{

}

#searchResultContainer {
    margin-top: 5em;
}

#searchResultElement {
    background-color: rgb(29, 38, 76);
    margin-top: 5px;
    /*max-width: 800px;*/
}

#avatarImg {
   
 
}

#footer{
    background-color :orange;
    height: 50px;
    margin-top: 10px;
}

#nameContainer {
    display: inline-block;
}

.elementColumn {
    display: inline-block;
}

.indexContainer {
    max-width: 80%;
}

.card {
    width: 18rem;
}


/*.searchbar {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}*/

/*li{
    float:left;
    list-style-type:none;
}*/
