
:root {
    --itemWidth: 300px;
    --itemheight: 300px;
    --avatarCardWidth: 200px;
    --rgbDefault: rgb(44, 46, 76);
}

body {
    background-color: rgb(15, 18, 33);
    color: cornsilk;
}

/*a {
    color: rgb(51, 164, 199);
}*/

a:hover {
    color: rgb(169, 250, 223);
    text-decoration: none;
}

a.item-edit-link {
    display: block;
    height: 100%;
}

/*---------- Bootstrap mods ----------*/
.card {
    border: 0px;
}

.card-img-overlay {
    pointer-events: none;
}

/*-----------------------------------*/

#renderBody {
    max-width: 80%;
}


#searchResultContainer {
    margin-top: 5em;
    max-width: 85%;
}

#searchResultRow.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( var(--avatarCardWidth), 1fr));
}

#searchResultElement {
    background-color: rgb(29, 38, 76);
    margin-top: 5px;
    /*max-width: 800px;*/
}

#userResumeSummary {
    white-space: pre-wrap;
}


#footer {
    background-color: orange;
    height: 50px;
    margin-top: 10px;
}

#nameContainer {
    display: inline-block;
}


#mainTextBlock {
    white-space: pre-wrap;
}

.avatar-card {
    width: var(--avatarCardWidth);
    background-color: var(--rgbDefault);
}

.avatar-card-img {
    /*width:  198px;
    height: 198px;*/
    width: 100%;
    height: 198px;
}

.elementColumn {
    display: inline-block;
}

/*---------- Experience elements ----------*/

.experience-main-area{

    min-height: 300px;
    /*background-color: red;*/
}


/*---------- Item elements ----------*/
#item_container.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( var(--itemWidth), 1fr));
    padding: 30px;
}

.item-card {
    background-color: var(--rgbDefault);
    position: relative;
    width: var(--itemWidth);
    height: var(--itemheight);
    padding: 0px;
}

.item-card-img {
    width: var(--itemWidth);
    height: var(--itemheight);
    /*position: absolute;*/
    object-fit: contain;
}


.item-options {
    width: 100%;
    height: 100%;
    color: var(--rgbDefault);
    cursor: pointer;
}

    .item-options:hover {
        color: rgb(255, 255, 255);
    }


.item-delete-yes-no-btns {
    border: none;
    text-decoration: none;
    padding: 0px;
}

.item-delete-confirm-txt {
    /*background-color: var(--danger);*/
    color: var(--rgbDefault);
    display: none;
    font-size: 1.5em;
    /*padding:5px;*/
}

.item-card-footer {
    padding: 0;
    height: 60px;
}

.item-fade-In {
    opacity: 0;
    background: rgba(44, 46, 76, 0);
    transition: background 0.4s ease 0s;
    transition: opacity 0.4s ease 0s;
    width: var(--itemWidth);
    height: var(--itemheight);
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
}

    .item-fade-In:hover {
        opacity: 1;
        background: rgba(44, 46, 76, 0.8);
        transition: background 0.4s ease 0s;
        transition: opacity 0.4s ease 0s;
    }


    /*.itemEditBtn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}*/



    /*----- In Display item ----- */

#galleryCarousel {
    /*width: 700px;*/
    height: 500px;
    /*margin:0px auto;*/
}

.displayitem-gallery-img{
    display:block;
    width:100%;
    height:100%;
    object-fit:contain
}

.carousel-item{
    padding: 20px;
}

