body {
    background-color: rgb(19, 19, 30);
}

label, h1 {
    color: rgb(165, 148, 255);
}

#homePageLogoContainer {
    /*background-color:rgb(255, 0, 0);*/
    height: 10em;
    width: auto;
}


#searchResultContainer {

    background-color: red;
    margin-top : 5em;
}

#searchResultElement{
  
    background-color :blue;
    margin-top: 5px;
    max-width: 800px;
}

#searchResultAvatarImg{
    width:50px;
    height:50px;
}

#footer{
    background-color :orange;
    height: 50px;
    margin-top: 10px;
}

#nameContainer {
    display: inline-block;
}

.elementColumn {
    display: inline-block;
}




/*.searchbar {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}*/

/*li{
    float:left;
    list-style-type:none;
}*/
